* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  margin: 0;
  height: auto;
  font-family: 'Lato', sans-serif;
}

main {
  max-width: 100vh;
  margin: auto;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30vh;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0;
}

.gameboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0;
}

.gamecontrol {
  background: #333;
  width: 470px;
  margin: 20px auto;
  box-shadow: 0 4px 0 #333;
  border-radius: 15px;
}

.header {
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

.header table {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-align: center;
}

td {
  margin: 10px;
  padding: 10px;
}

td span {
  color: #fafafa;
}

.header .gamebuttons, .gamestatus {
  width: 150px;
}

.gamestatus h4 {
  color: #fafafa;
}

.gamebuttons {
  padding: 15px 10px 5px 10px;
  margin: -5px -10px -5px 10px;
  background: #2f2f2f;
  border-radius: 0 15px 15px 0;
}

.gamebuttons button {
  margin: 8px 5px;
  background-color: #222;
  border-radius: 5px;
  padding: 7px 8px;
  border: none;
  color: #999;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  outline: none;

  &:hover {
    background: #4b71b5;
    color: #fafafa;
    cursor: pointer;
  }
}

.board {
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cells {
  border: 2px solid #000;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    height: 120px;
    width: 120px;
    transition: .3s;
  }

  &::after {
    border: 0px solid #a00;
  }
}

.cells.x-marked {
  &::after {
    background: #0a0;
    height: (60/100)*120px;
    width: 3px;
    transform: rotateZ(-45deg);
  }

  &::before {
    background: #0a0;
    height: (60/100)*120px;
    width: 3px;
    transform: rotateZ(45deg);
  }
}

.cells.o-marked {
  &::after {
    border: 4px solid #a00;
    border-radius: 100%;
    width: (60/100)*120px;
    height: (60/100)*120px;
  }
}